@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* FONTS */
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

/* OVERSKRIFTER */
h1, h2, h3, h4, h5 {
  font-family: var(--font-playfair);
}

/* keyframes bruges af Tailwind animation i page */
@keyframes bwMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 120px 120px;
  }
}
