@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;

  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-playfair);
}

@keyframes bwMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 120px 120px;
  }
}
